.todo-form{
    text-align: left;
    width: 24.5vw;
    margin-left: 32vw;   
    padding-left: 8vw; 
    padding-bottom: 30px;
    border: solid 1px coral;
    border-radius: 10px;

}

ul{
    width: 30vw;
    margin-left: 32vw;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: lightgray;
    border-radius: 2px;    

    li{
        list-style-type:none;
        
        button{
            background-color: red; 
            border-radius: 4px;
            margin-right: 10%;
            float: right;
        }
    }

   
}
 
