<form [formGroup]='todoForm' class='todo-form' action="">
    <h3>Ajouter une Nouvelle Tâche</h3>
    <label>Titre: </label>
    <input type='text' placeholder='Title' formControlName='title' />
    <br>
    <label>Description: </label>
    <input type='textarea' placeholder='Content' formControlName='content' />
    <br>
    <label>Statut:</label>
    <input type='checkbox' value='isActive' formControlName='isActive' />
    <br>
    <button type='submit' (click)='onSubmit()'>Ajouter</button>
</form>

<div>
    <ul *ngFor='let todo of todos; let i=index'>
        <li>
            <button type='button' (click)='onDelete(i)'>X</button>
            <app-todo-item [todo]='todo'></app-todo-item>
        </li>
  </ul>
</div>

<!-- {{todoForm.value | json}} -->
